.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  resizeMode: contain;
  height: 4vh;
  position: absolute;
  left: 4vh;
  top: 2vh;
}

.App-symbol {
  pointer-events: none;
  resizeMode: contain;
  height: 4vh;
  position: absolute;
  left: 20vh;
  top: 1.8vh;
}

.App-slogan {
  position: absolute;
  left: 26vh;
  top: 1vh;
}

.App-header {
  background-color: #3241e4;
  font-size: calc(1px + 2vmin);
  color: white;
  height: 8vh;
  top: 0px;
}


.App-body {
  background-image: url("./graphics/village.png");
  background-size: cover;
  min-height: 100vh;
  min-width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 6vh ;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #624e3c;
  text-decoration: none;
}

.Button-group button:hover {
  background-color: #D4C38E;
}

.Button-group button {
  background-color: #fff2be;
  height: 10vh;
  width: 30vh;
  font-size: calc(10px + 2vmin);
  color: #624e3c;
  border: none;
  border-radius: 3vh;
  margin: 2vh;
  float: left;
}

