.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  resizeMode: contain;
  height: 6vh;
  position: absolute;
  left: 10vh;
  top: 4vh;
}

.App-slogan {
  position: absolute;
  left: 11vh;
  top: 8vh;
}

.App-header {
  background-color: #3241e4;
  font-size: calc(1px + 2vmin);
  color: white;
  height: 18vh;
  top: 0px;
}

.App-footer {
  background-color: #3241e4;
  min-height: 8vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  min-height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: mediumblue;
}

